<div class="section2">
    <div class="mission_wrap">
        <div class="tit">CONNECT</div>
        
        <div class="mission_list">
            <% Array.from({ length: 5 }).forEach(function(_, i) { %>
                <div>
                    <div class="left">
                        <div class="poin">+50</div>
                        <div class="mission">Connect your Wallet</div>
                    </div>

                    <% if(isLogin){ %>
                        <div class="connect">CONNECT</div>
                    <% } else { %>
                        <div></div>
                    <% } %> 
                </div>
            <% }); %>
        </div>
    </div>
</div>