<div class="section1">
    <div class="sction_main_wrap">
        <div class="tit_wrap">
            <div class="logo">
                <img src="/img/logo.svg" alt=""/>
            </div>
            
            <div class="tit">Forget the Live so far, We start the</div>
            
            <div class="sub_tit">LIVE ON DEMAND!</div>
        </div>

        <div class="usr_wrap">
            <div>
                1234
            </div>
        </div>
    </div>

    <div class="my_refer_wrap">
        <div class="refer">
            My Referral code : dfjdkjfkljskdjflkasjfl
            <span class="oncopy">copy</span>
        </div>

        <div class="claim_btn">CLAIM</div>
    </div>

    <div class="daily_wrap">
        <div class="daily_wrap_contents">
            <% Array.from({ length: 10 }).forEach(function(_, i) { %>
                <div>
                    <div class="day">Day <%= i + 1 %></div>
                    <div class="point">+ 1</div>
                </div>
            <% }); %>
        </div>
    </div>
</div>