<div class="section1">
    <div class="sction_main_wrap">
        <div class="tit_wrap">
            <div class="logo">
                <img src="/img/logo.svg" alt=""/>
            </div>
            
            <div class="tit">Forget the Live so far, We start the</div>
            
            <div class="sub_tit">LIVE ON DEMAND!</div>
        </div>

        <div class="usr_wrap">
            <div>
                <img src="/img/coin.png" alt=""/>
            </div>
        </div>
    </div>

    <div class="my_refer_wrap">
        <div class="refer">
            <span class="code_tit"> My Referral code</span>
            <sapn class="code">dfjdkjfkljskdjflkasjfl</sapn>
            <span class="oncopy">copy</span>
        </div>

        <% if(isLogin){ %>
            <div class="claim_btn">CLAIM</div>
        <% } else { %>
            <div class="login_btn">LOGIN</div>
        <% } %> 
    </div>

    <div class="daily_wrap">
        <div class="daily_wrap_contents slideshow">
            <% Array.from({ length: 7 }).forEach(function(_, i) { %>
                <% if(i > 3){ %>
                    <div class="disable">
                        <img src="/img/day_back_non.svg" alt=""/>

                        <div>
                            <div class="day">Day <%= i + 1 %></div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="active">
                        <img src="/img/day_back_active.svg" alt=""/>

                        <div>
                            <div class="point"> +<%= i + 1 %></div>
                        </div>
                    </div>
                <% } %> 
            <% }); %>
        </div>

        <div class="daily_wrap_contents">
            <% Array.from({ length: 7 }).forEach(function(_, i) { %>
                <% if(i > 3){ %>
                    <div class="disable">
                        <img src="/img/day_back_non.svg" alt=""/>

                        <div>
                            <div class="day">Day <%= i + 1 %></div>
                            <div class="point">+ 1</div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="active">
                        <img src="/img/day_back_active.svg" alt=""/>

                        <div>
                            <div class="point"> +<%= i + 1 %></div>
                        </div>
                    </div>
                <% } %> 
            <% }); %>
        </div>
    </div>
</div>