<div id="code" class="modal">
    <div class="modal-content">
      <div class="tit">
        Submit Redeem Code
      </div>

      <div class="text">
        Redeem Dode was provided at Baby Shark Universe Sui Basecamp
      </div>

      <input id="coupon" type="text" value=""/>

      <div class="btn" onclick="confirmCoupon()">Submit</div>
      
      <div class="close" onclick="redirect()">
        <img src="/img/popup_close.png" alt=""/>
      </div>
    </div>
  </div>