<div id="confirm" class="modal">
    <div class="modal-content">
      <div class="tit">
        Completed
      </div>

      <div class="main_img">
        <img src="/img/popup.png" alt=""/>
      </div>

      <div class="title"></div>

      <div class="btn" onclick="redirect()">
        Confirm
      </div>

      <div class="close" onclick="redirect()">
        <img src="/img/popup_close.png" alt=""/>
      </div>
    </div>
  </div>