<div id="confirm" class="modal">
    <div class="modal-content">
      <div class="main_img">
        <img src="/img/logo.svg" alt=""/>
      </div>

      <div class="coin"></div>
      <div class="title"></div>

      <div class="btn_wrap">
        <div class="btn" onclick="redirect('confirm')">
          Confirm
        </div>
  
        <div class="btn close" onclick="redirect('confirm')">
          Close
        </div>
      </div>
    </div>
  </div>