<div id="daily_check" class="modal">
    <div class="modal-content">
      <div class="tit">
        Do you want to check attendance?
      </div>

      <div class="main_img">
        <img src="/img/popup.png" alt=""/>
      </div>

      <div class="btn_wrap">
        <div class="btn disable" onclick="redirect()">
          Close
        </div>

        <div class="btn" onclick="requestAttendance()">
          Confirm
        </div>
      </div>

      <div class="close" onclick="redirect()">
        <img src="/img/popup_close.png" alt=""/>
      </div>
    </div>
  </div>