<div id="dailyCheckIn" class="modal">
  <div class="modal-content">
    <div class="main_title">
      <img src="/img/daily_check_title.png" alt=""/>

      <div class="redirect" onclick="redirect('none')">
          <img src="/img/close.png" alt=""/>
      </div>
    </div>
    
    <div class="modal_container_wrap">
      <div class="tit">
        Appear every day and receive rewards !
        <div class="timer">
          NEXT CHECK IN : <span>2024.4.22 00:00</span>
        </div>
      </div>
      

      <div class="modal_container"></div>
    </div>

    <div class="footer_text">
      Attendance checks are reset at midnight every day.
    </div>
  </div>
</div>