<div id="logerror" class="modal">
    <div class="modal-content">
      <div class="tit">
        Page Error
      </div>

      <div class="main_img">
        <img src="/img/error.png" alt=""/>
      </div>

      <div class="title"></div>
      
      <div class="btn" onclick="redirect('none')">
        Confirm
      </div>

      <div class="close" onclick="redirect('none')">
        <img src="/img/popup_close.png" alt=""/>
      </div>
    </div>
  </div>