<div id="notify" class="modal">
    <div class="modal-content">
      <div class="main_img">
        <img src="/img/popup.png" alt=""/>
      </div>

      <div class="content">
        <div class="tit">
          Notification
        </div>
  
        <div class="text"></div>

        <div class="btn_wrap">
          <div class="ok" onclick="confirmNoti()">OK</div>
          <div class="cancel" onclick="redirect()">CANCEL</div>
        </div>
      </div>

      <div class="close" onclick="redirect()">
        <img src="/img/popup_close.png" alt=""/>
      </div>
    </div>
  </div>